<server description="Sample Liberty server">

  <featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>jsonp-1.1</feature>
      <feature>jdbc-4.3</feature>
  </featureManager>
   
    <library id="DB2Lib">
      <fileset dir="${shared.resource.dir}" includes="db2jcc4.jar db2jcc_license_cu.jar"/>
    </library>
   
    <datasource id="testdatasource" jndiname="jdbc/testds">
        <jdbcdriver libraryref="DB2Lib" />
        <properties.db2.jcc databaseName="${env.DB2_DBNAME}" 
          password="${env.DB2_PASSWORD}" 
          portnumber="${env.DB2_PORT}" 
          servername="${env.DB2_HOST}" 
          user="${env.DB2_USER}"/>
    </datasource>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="rest.war" contextRoot="/"/>
</server>
